doctype html
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        main
            block content
                h1 Base
    include partials/footer.pug